body{
    text-align:center;
    margin:auto;
    font-family:'Century Gothic','游ゴシック';
    width:1250px;
}
#number{
    text-align:center;
    margin:auto;
    font-family:'Century Gothic','游ゴシック';
    width:500px;
    height:100px;
}
#game{
    text-align:center;
    margin:auto;
    font-family:'Century Gothic','游ゴシック';
    width:1000px;
    height:500px;
}
#start-button, #saikoro{
    font-size:100%;
    font-family:'Century Gothic','游ゴシック';
    border-style:none;
    height:30px;
    width:200px;
}
#saikoro{
    background-color:skyblue;
}
#a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20,#a21,#a22,#a23,#a24,#a25,#a26,#a27,#a28,#a29,#a30,#a31,#a32,#a33,#a34,#a35,#a36,#a37,#a38,#a39,#a40,#a41,#a42,#a43,#a44,#a45,#a45,#a46,#a47,#a48,#a49,#a50{
    width:100px;
    height:100px;
}
#n1,#n3,#saikoro{
    width:300px;
    height:50px
}
#l1,#l2,#l3,#l4,#l5{
    height:30px;
}
#a1{
    background-color:skyblue;
}
#a50{
    background-color:orange;
}
